<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dynamic Page</title>
  <link rel="stylesheet" href="/css/stylesheet.css" />
</head>

<body>

  $$navbar$$

  <div class="mainContainer">

    <div class="SideBar">
      <div class="sidebarContainer">
        $$SIDEBAR_CONTENT$$
      </div>
    </div>

    <div class="page">
      <h1>$$PAGE_TITLE$$</h1>
      $$PAGE_CONTENT$$
    </div>

    <div class="rightsideBarDiv">
      $$RIGHTBAR_CONTENT$$
    </div>

  </div>
  <script type="module" src= $$SCRIPT_PATH$$></script>
</body>
</html>
